h1{
    color: green;
    text-align: center;
    background-color: yellow;
    border-radius: 10px;
}

h2{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

p{
    color: rgb(255, 255, 255);
    text-align: justify;
    padding: 10px;
    
    background-color: rgb(0, 255, 21);
    border-radius: 10px;
}